<h2>Trending</h2>
<div class="container">
    <div class="gifs-outer">
        <ul class="gifs-ul">
            <li *ngFor="let gif of gifs;" class="gif-item">
                <div class="sizer">
                    <div class="sizer-inner">
                        <picture>
                            <source [src]="gif.images.downsized.url" type="Image">
                            <img [src]="gif.images.downsized.url" alt="Image">
                        </picture>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- <div class="container">
    <div class="row">
        <div class="col-md-3" *ngFor="let gif of gifs">
            <img [src]="gif.images.downsized.url" class="img-fluid" alt="Image">
        </div>
    </div>
</div> -->