.gifs-outer {
    height: 140px;
    margin: 0px;
    overflow: hidden;
    width: 100%;
}

.gifs-ul {
    overflow-x: scroll;
    margin: 0px;
    padding: 0px 6px 6px 0px;
    white-space: nowrap;
    text-align: left;
    height: 160px;
    list-style: none;
    margin-bottom: 20px;
}

.gif-item:first-of-type {
    margin-left: 0px;
}

.gif-item {
    cursor: pointer;
    display: inline-block;
    margin-left: 6px;
    list-style: none;
    position: relative;
    vertical-align: top;
    z-index: 1;
}

.sizer {
    width: 333px;
    height: 140px;
    display: block;
    border-radius: 4px;
    overflow: hidden;
}

.sizer-inner {
    width: 333px;
    height: 140px;
    position: relative;
}
eRNOvm input{
    padding-top: 30px;
box-sizing: border-box;
appearance: none;
border-radius: 0px;
font-weight: normal;
width: 100%;
border: 0px;
margin: 0px;
z-index: 2;
float: left;
position: relative;
height: 52px;
letter-spacing: 1px;
font-size: 18px;
font-family: inherit;
}
input{
    width: 100%;
    height: 60px;
    margin: 0px 0px 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    color: rgb(0, 0, 0);
    padding-left: 20px;
    padding: 5px;
    outline: none;
}