/* You can add global styles to this file, and also import other style files */
body{
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    -webkit-font-smoothing: antialiased;
    font-family: inherit;
}